<% if @user.id == current_user.id %>
  <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
<% end %>
<% @books.each do |book| %>
<div>
  <%= link_to book_path(book.id) do %>
  <% end %>
  <p><%= attachment_image_tag book.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %></p>
  <span>
    <%= link_to book.title, book_path(book.id) %>
  </span>
  <p><%= book.body %></p>
</div>
<% end %>
