<% @books.each do |book| %>
<div>
 <%= link_to book_path(book.id) do %>
  <%= attachment_image_tag book, :image %>
 <% end %>
  <p><%= image_tag('no_image.jpg') %></p>
  <span>
    <%= link_to book.title, book_path(book.id) %>
  </span>
  <p>body：<%= book.body %></p>
  <p>ユーザーネーム：<%= book.user.name %></p>
  <%= link_to "Show", book_path(book.id) %>
</div>
<% end %>
