<div class="post-body">
 <%= link_to book_path(@book.id) do %>
  <% end %>
  <p><%= attachment_image_tag @book.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %></p>
  <p><%= @book.user.name %></p>
  <p><%= @book.title %></p>
  <p><%= @book.body %></p>
  <% if @book.user == current_user %>
    <%= link_to "Edit", edit_book_path(@book) %>
    <%= link_to "Destroy", book_path(@book), method: :delete %>
  <% end %>
</div>